.App-header {
	background-color: #fff3d9;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: rgb(45, 45, 45);
}

.App-link {
	color: #61dafb;
}

.style {
	display: flex;
	margin-bottom: 1rem;
	padding: 1.8rem;
	width: 20rem;
	border: 3px solid rgb(0, 0, 0);
	justify-content: space-between;
	background-color: rgb(255, 233, 203);
}

.style button {
	padding: 10px;
	color: green;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 20px;
	background: white;
	transition: 0.25s ease-out;
}

.style button:hover {
	background: black;
	color: white;
}
