@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	display: flex;
	width: 100vw;
	height: 100vh;
}

header,
footer {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

header {
	position: relative;
}

h2 {
	font-size: rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin: 0;
}

.inputBox {
	width: 350px;
	margin: 10px 0;
	padding: 10px;
	background-color: #eeeeee;
	border: none;
	border-radius: 1px;
	font-weight: 500;
	color: #8f8f8f;
}

#loginOpts {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin: 15px 0 25px 0;
	color: #8f8f8f;
	font-weight: 300;
}

#loginOpts a {
	color: #8f8f8f;
}

.btnLogin {
	cursor: pointer;
	border: none;
	padding: 10px 40%;
	color: white;
	background-image: linear-gradient(
		to bottom right,
		rgb(8, 8, 8),
		rgb(212, 0, 255)
	);
	font-weight: bold;
	letter-spacing: 2px;
	transition: 0.3s ease-out;
}

input.btnLogin[type='submit']:hover {
	background-image: linear-gradient(
		to bottom right,
		rgb(227, 85, 255),
		rgb(246, 142, 255)
	);
	color: rgb(66, 2, 66);
	font-weight: 700;
}

#hrLine {
	margin: 30px auto;
	color: #a6a6a6;
	font-weight: 500;
}

#social i {
	margin-top: 10px;
	padding-left: 20px;
	font-size: 1.5rem;
	color: #333;
	transition: 0.3s ease-out;
}

#social i:hover {
	color: rgb(212, 0, 255);
}

#copyright {
	position: absolute;
	bottom: 10px;
	font-size: 0.9rem;
	font-weight: 300;
}

#copyright span {
	font-family: 'Roboto', sans-serif;
}

footer {
	background-image: linear-gradient(
		to bottom right,
		rgb(8, 8, 8),
		rgb(212, 0, 255)
	);
	color: white;
}

footer > i:first-child {
	font-size: 7rem;
}

h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 3rem;
}

h2 {
	font-size: 3rem;
	margin: 20px 40px 10px 40px;
}

footer a,
footer a > i:last-child {
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
}

footer p {
	font-weight: 300;
	font-size: 1.2rem;
	margin: 0 50px;
}

footer a {
	margin-top: 10px;
	transform: translateY(5px);
	padding: 10px 25px;
	border: white solid 3px;
	border-radius: 45px;
	font-size: 1.3rem;
	transition: 0.3s ease-out;
}

footer a:hover {
	background: #fff;
	color: #333;
}
